
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Headings Start -->
<div class="row justify-content-between align-items-center mb-10">

    <!-- Page Heading Start -->
    <div class="col-12 col-lg-auto mb-20">
        <div class="page-heading">
            <h3>تجارت الکترونیکی <span>/ فهرست صورتحساب</span></h3>
        </div>
    </div><!-- Page Heading End -->

</div><!-- Page Headings End -->

<div class="row mbn-30">

    <!--Alert End-->
    <!-- Invoice List Start -->
    <div class="col-12 mb-30">
        <div class="table-responsive">
            <table class="table table-bordered data-table data-table-default mb-0">

                <!-- Table Head Start -->
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>تاریخ</th>
                        <th>شناسه صورتحساب</th>
                        <th>بدون سفارش</th>
                        <th>مشتری</th>
                        <th>مشکل</th>
                        <th>تعادل</th>
                        <th>میزان</th>
                        <th>عمل</th>
                    </tr>
                </thead><!-- Table Head End -->
                <!-- Table Body Start -->
                <tbody>
                    <tr>
                        <td>#01</td>
                        <td>1398/2/3</td>
                        <td>IAD-101</td>
                        <td>SPRO-128715</td>
                        <td>جعفر عباسی</td>
                        <td>1398/2/3</td>
                        <td>575185 تومان</td>
                        <td>266452 تومان</td>
                        <td>
                            <div class="table-action-buttons">
                                <a class="view button button-box button-xs button-primary" href="invoice-details.html"><i class="zmdi zmdi-more"></i></a>
                                <a class="edit button button-box button-xs button-info" href="#"><i class="zmdi zmdi-edit"></i></a>
                                <a class="delete button button-box button-xs button-danger sweetalert-warning" href="#"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#02</td>
                        <td>1398/2/3</td>
                        <td>IAD-102</td>
                        <td>SPRO-129645</td>
                        <td>جعفر عباسی</td>
                        <td>1398/2/3</td>
                        <td>575185 تومان</td>
                        <td>266452 تومان</td>
                        <td>
                            <div class="table-action-buttons">
                                <a class="view button button-box button-xs button-primary" href="invoice-details.html"><i class="zmdi zmdi-more"></i></a>
                                <a class="edit button button-box button-xs button-info" href="#"><i class="zmdi zmdi-edit"></i></a>
                                <a class="delete button button-box button-xs button-danger" href="#"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#03</td>
                        <td>1398/2/3</td>
                        <td>IAD-103</td>
                        <td>SPRO-164715</td>
                        <td>جعفر عباسی</td>
                        <td>1398/2/3</td>
                        <td>575185 تومان</td>
                        <td>266452 تومان</td>
                        <td>
                            <div class="table-action-buttons">
                                <a class="view button button-box button-xs button-primary" href="invoice-details.html"><i class="zmdi zmdi-more"></i></a>
                                <a class="edit button button-box button-xs button-info" href="#"><i class="zmdi zmdi-edit"></i></a>
                                <a class="delete button button-box button-xs button-danger" href="#"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#04</td>
                        <td>1398/2/3</td>
                        <td>IAD-104</td>
                        <td>SPRO-251554</td>
                        <td>جعفر عباسی</td>
                        <td>1398/2/3</td>
                        <td>575185 تومان</td>
                        <td>266452 تومان</td>
                        <td>
                            <div class="table-action-buttons">
                                <a class="view button button-box button-xs button-primary" href="invoice-details.html"><i class="zmdi zmdi-more"></i></a>
                                <a class="edit button button-box button-xs button-info" href="#"><i class="zmdi zmdi-edit"></i></a>
                                <a class="delete button button-box button-xs button-danger" href="#"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#05</td>
                        <td>1398/2/3</td>
                        <td>IAD-105</td>
                        <td>SPRO-134715</td>
                        <td>جعفر عباسی</td>
                        <td>1398/2/3</td>
                        <td>575185 تومان</td>
                        <td>266452 تومان</td>
                        <td>
                            <div class="table-action-buttons">
                                <a class="view button button-box button-xs button-primary" href="invoice-details.html"><i class="zmdi zmdi-more"></i></a>
                                <a class="edit button button-box button-xs button-info" href="#"><i class="zmdi zmdi-edit"></i></a>
                                <a class="delete button button-box button-xs button-danger" href="#"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#06</td>
                        <td>1398/2/3</td>
                        <td>IAD-106</td>
                        <td>SPRO-128715</td>
                        <td>جعفر عباسی</td>
                        <td>1398/2/3</td>
                        <td>575185 تومان</td>
                        <td>266452 تومان</td>
                        <td>
                            <div class="table-action-buttons">
                                <a class="view button button-box button-xs button-primary" href="invoice-details.html"><i class="zmdi zmdi-more"></i></a>
                                <a class="edit button button-box button-xs button-info" href="#"><i class="zmdi zmdi-edit"></i></a>
                                <a class="delete button button-box button-xs button-danger" href="#"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#07</td>
                        <td>1398/2/3</td>
                        <td>IAD-107</td>
                        <td>SPRO-128717</td>
                        <td>جعفر عباسی</td>
                        <td>1398/2/3</td>
                        <td class="balance">3575185</td>
                        <td>166452 تومان</td>
                        <td>
                            <div class="table-action-buttons">
                                <a class="view button button-box button-xs button-primary" href="invoice-details.html"><i class="zmdi zmdi-more"></i></a>
                                <a class="edit button button-box button-xs button-info" href="#"><i class="zmdi zmdi-edit"></i></a>
                                <a class="delete button button-box button-xs button-danger" href="#"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#08</td>
                        <td>1398/2/3</td>
                        <td>IAD-108</td>
                        <td>SPRO-128115</td>
                        <td>جعفر عباسی</td>
                        <td>1398/2/3</td>
                        <td>575185 تومان</td>
                        <td>266452 تومان</td>
                        <td>
                            <div class="table-action-buttons">
                                <a class="view button button-box button-xs button-primary" href="invoice-details.html"><i class="zmdi zmdi-more"></i></a>
                                <a class="edit button button-box button-xs button-info" href="#"><i class="zmdi zmdi-edit"></i></a>
                                <a class="delete button button-box button-xs button-danger" href="#"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#09</td>
                        <td>1398/2/3</td>
                        <td>IAD-109</td>
                        <td>SPRO-128786</td>
                        <td>جعفر عباسی</td>
                        <td>1398/2/3</td>
                        <td>575185 تومان</td>
                        <td>266452 تومان</td>
                        <td>
                            <div class="table-action-buttons">
                                <a class="view button button-box button-xs button-primary" href="invoice-details.html"><i class="zmdi zmdi-more"></i></a>
                                <a class="edit button button-box button-xs button-info" href="#"><i class="zmdi zmdi-edit"></i></a>
                                <a class="delete button button-box button-xs button-danger" href="#"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#10</td>
                        <td>1398/2/3</td>
                        <td>IAD-110</td>
                        <td>SPRO-128325</td>
                        <td>جعفر عباسی</td>
                        <td>1398/2/3</td>
                        <td>575185 تومان</td>
                        <td>266452 تومان</td>
                        <td>
                            <div class="table-action-buttons">
                                <a class="view button button-box button-xs button-primary" href="invoice-details.html"><i class="zmdi zmdi-more"></i></a>
                                <a class="edit button button-box button-xs button-info" href="#"><i class="zmdi zmdi-edit"></i></a>
                                <a class="delete button button-box button-xs button-danger" href="#"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#11</td>
                        <td>1398/2/3</td>
                        <td>IAD-111</td>
                        <td>SPRO-121615</td>
                        <td>طاهر نصیری</td>
                        <td>1398/2/3</td>
                        <td>575185 تومان</td>
                        <td>266452 تومان</td>
                        <td>
                            <div class="table-action-buttons">
                                <a class="view button button-box button-xs button-primary" href="invoice-details.html"><i class="zmdi zmdi-more"></i></a>
                                <a class="edit button button-box button-xs button-info" href="#"><i class="zmdi zmdi-edit"></i></a>
                                <a class="delete button button-box button-xs button-danger" href="#"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#12</td>
                        <td>1398/2/3</td>
                        <td>IAD-112</td>
                        <td>SPRO-128715</td>
                        <td>طاهر نصیری</td>
                        <td>1398/2/3</td>
                        <td>575185 تومان</td>
                        <td>266452 تومان</td>
                        <td>
                            <div class="table-action-buttons">
                                <a class="view button button-box button-xs button-primary" href="invoice-details.html"><i class="zmdi zmdi-more"></i></a>
                                <a class="edit button button-box button-xs button-info" href="#"><i class="zmdi zmdi-edit"></i></a>
                                <a class="delete button button-box button-xs button-danger" href="#"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody><!-- Table Body End -->

            </table>
        </div>
    </div><!-- Invoice List End -->

</div>

